body {
  background-color: #e1b382; /* Sand Tan */
}

h1 {
  color: #12343b; /* Night Blue Shadow */
  font-family: "Georgia", serif;
  font-size: 48px;
  margin: 36px 0 12px 0;
  padding: 0;
  text-align: center;
}

h3 {
  color: #2d545e; /* Night Blue */
  font-family: "Times New Roman", serif;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}
