body {
  background-color: #e1b382; /* Sand Tan */
  font-family: "Times New Roman", serif;
  font-size: 18px;
  margin: 0;
}

h1 {
  color: #12343b; /* Night Blue Shadow */
  font-family: "Georgia", serif;
  font-size: 48px;
  margin: 56px 0 12px 0;
  padding: 0;
  text-align: center;
}

h2 {
  color: #12343b; /* Night Blue Shadow */
  font-family: "Georgia", serif;
  font-size: 32px;
  margin: 36px 0 12px 0;
  padding: 0;
}

h3 {
  color: #2a545e; /* Night Blue */
  font-family: "Times New Roman", serif;
  font-size: 22px;
  font-weight: normal;
  margin: 0 0 24px 0;
  padding: 0;
  text-align: center;
}

a {
  color: #c89666; /* Sand Tan */
}

a:hover {
  color: #e1b382; /* Sand Tan Shadow */
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  width: 600px;
}

.Menu {
  background-color: #12343b; /* Night Blue Shadow */
  color: #e1b382;
  padding: 8px 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
